<!DOCTYPE html>
<html>
    <head>
        <title>Using the html plain text with pug</title>
        style 
            include ../static/style.css
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Fitness equipments</a></li>
                <li><a href="/">Contact us</a><li>
            </ul>
        </nav>
        <div class="container">
            <h1>Get the gym membership in 50$</h1>


            <form action="/"method="POST"id="contact">
                <input type="text"name="name"id="name"placeholder="Enter your name">
                <input type="text"name="age"id="age"placeholder="Enter your age">
                <input type="text"name="gender"id="gender"placeholder="Enter your gender">
                <input type="text"name="Aadhar"id="Aadhar"placeholder="Enter your aadhar no">
                <textarea type="text"name="address"id="address"placeholder="Enter your address"></textarea>
                <textarea type="text"name="more"id="more"placeholder="More about you"></textarea>  
                <button class="btn">Submit</button>
            </form>
        </div>
    </body>

</html>

     