*{
    color:black;
    margin:0;
    padding:0;
    background:url('./static/1.jpg')center center no-repeat cover;

}
nav{
    background-color:rgb(34, 33, 33);
    padding:8px 12px;
}
ul{
    display:flex;
    flex-direction:row;

}
li{
    list-style:none;
    padding:3px 12px;
    color:white;
}
a{
    text-decoration:none;
    font-weight:bold;
    color:white;
}
h1{
    text-align:center;
    color:black;
    
    
}
body::before{
    content:"";
    height:50rem;
    width:100%;
    position:absolute;
    z-index:-7;
    opacity: 2;
    background:url('/static/1.jpg') no-repeat center center;
    opacity:0.8;
}
.container{
    margin:12px auto;
   
    max-width:70%;
}
input,textarea{
    display:block;
    padding:5px;
    margin:25px auto;
    /* text-align:center; */
    
    border-radius:7px;
    border:2px solid black;
    width:80%;
    outline:none;
}
textarea{
    padding:55px;
    width:70%;
}
.btn{
    display:block;
    margin:4px auto;
    width:25%;
    padding:1%;
    border-radius:80px;
    background-color:rgb(165, 68, 68);
    color:white;
    font-size:1rem;
    border:4px solid black;
    cursor:pointer;
}